:root {
  --primary_color: #5ee4e7;
  --secondary_color: #fda8e1;
  --terciary_color: #000000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(231, 230, 230);
}


